# 3.1 pandas 基本介绍

numpy：序列化好的数列或矩阵 pandas:字典形式的numpy 可以重新命名行列

In [1]:
import pandas as pd
import numpy as np

In [7]:
s=pd.Series([1,3,6,np.nan,44,1])
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

NaN=none=Null

In [3]:
dates=pd.date_range('20210214',periods=6)
dates

DatetimeIndex(['2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
df

                   a         b         c         d
2021-02-14 -0.170504 -0.421512  0.705502  0.328213
2021-02-15 -2.385673  1.211626  0.088588  0.476994
2021-02-16  0.743633  0.276773 -0.867493 -1.431204
2021-02-17 -0.630598 -0.143851 -1.252705 -1.412553
2021-02-18 -0.376320 -1.885936 -1.846925 -0.320378
2021-02-19  1.222201 -0.013525  1.185337 -0.308177

DataFrame: 相当于matrix,二维的numpy,数据为numpy的数据，行索引为index, 列索引为columns

In [5]:
df1=pd.DataFrame(np.arange(12).reshape((3,4)))
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
df2=pd.DataFrame({'A':1,
                 'B':pd.Timestamp('20210214'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(['test','train','test','train']),
                 'F':'foo'})
df2

   A          B    C  D      E    F
0  1 2021-02-14  1.0  3   test  foo
1  1 2021-02-14  1.0  3  train  foo
2  1 2021-02-14  1.0  3   test  foo
3  1 2021-02-14  1.0  3  train  foo

In [13]:
print(df2)

   A          B    C  D      E    F
0  1 2021-02-14  1.0  3   test  foo
1  1 2021-02-14  1.0  3  train  foo
2  1 2021-02-14  1.0  3   test  foo
3  1 2021-02-14  1.0  3  train  foo

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [16]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [17]:
df2.values

array([[1, Timestamp('2021-02-14 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1, Timestamp('2021-02-14 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1, Timestamp('2021-02-14 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1, Timestamp('2021-02-14 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [18]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [19]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2021-02-14 00:00:00,2021-02-14 00:00:00,2021-02-14 00:00:00,2021-02-14 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [20]:
df.sort_index(axis=1,ascending=False)

                   d         c         b         a
2021-02-14  0.328213  0.705502 -0.421512 -0.170504
2021-02-15  0.476994  0.088588  1.211626 -2.385673
2021-02-16 -1.431204 -0.867493  0.276773  0.743633
2021-02-17 -1.412553 -1.252705 -0.143851 -0.630598
2021-02-18 -0.320378 -1.846925 -1.885936 -0.376320
2021-02-19 -0.308177  1.185337 -0.013525  1.222201

In [21]:
df2.sort_index(axis=1,ascending=False)

     F      E  D    C          B  A
0  foo   test  3  1.0 2021-02-14  1
1  foo  train  3  1.0 2021-02-14  1
2  foo   test  3  1.0 2021-02-14  1
3  foo  train  3  1.0 2021-02-14  1

In [22]:
df2.sort_index(axis=0,ascending=False)

   A          B    C  D      E    F
3  1 2021-02-14  1.0  3  train  foo
2  1 2021-02-14  1.0  3   test  foo
1  1 2021-02-14  1.0  3  train  foo
0  1 2021-02-14  1.0  3   test  foo

In [23]:
df2.sort_values(by='E')

   A          B    C  D      E    F
0  1 2021-02-14  1.0  3   test  foo
2  1 2021-02-14  1.0  3   test  foo
1  1 2021-02-14  1.0  3  train  foo
3  1 2021-02-14  1.0  3  train  foo

# 3.2 pandas 选择数据

In [24]:
import pandas as pd
import numpy as np

In [25]:
dates=pd.date_range('20210215',periods=6)

In [27]:
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
df

             A   B   C   D
2021-02-15   0   1   2   3
2021-02-16   4   5   6   7
2021-02-17   8   9  10  11
2021-02-18  12  13  14  15
2021-02-19  16  17  18  19
2021-02-20  20  21  22  23

In [28]:
print(df)

             A   B   C   D
2021-02-15   0   1   2   3
2021-02-16   4   5   6   7
2021-02-17   8   9  10  11
2021-02-18  12  13  14  15
2021-02-19  16  17  18  19
2021-02-20  20  21  22  23

select by column

In [29]:
print(df['A'],df.A)

2021-02-15     0
2021-02-16     4
2021-02-17     8
2021-02-18    12
2021-02-19    16
2021-02-20    20
Freq: D, Name: A, dtype: int32 2021-02-15     0
2021-02-16     4
2021-02-17     8
2021-02-18    12
2021-02-19    16
2021-02-20    20
Freq: D, Name: A, dtype: int32

In [30]:
print(df['A'])

2021-02-15     0
2021-02-16     4
2021-02-17     8
2021-02-18    12
2021-02-19    16
2021-02-20    20
Freq: D, Name: A, dtype: int32

In [31]:
print(df.A)

2021-02-15     0
2021-02-16     4
2021-02-17     8
2021-02-18    12
2021-02-19    16
2021-02-20    20
Freq: D, Name: A, dtype: int32

select by row

In [33]:
print(df[0:3])

            A  B   C   D
2021-02-15  0  1   2   3
2021-02-16  4  5   6   7
2021-02-17  8  9  10  11

select by label:loc

In [35]:
print(df.loc['20210215'])

A    0
B    1
C    2
D    3
Name: 2021-02-15 00:00:00, dtype: int32

In [36]:
print(df.loc[:,['A','B']])

             A   B
2021-02-15   0   1
2021-02-16   4   5
2021-02-17   8   9
2021-02-18  12  13
2021-02-19  16  17
2021-02-20  20  21

select by position:iloc

In [37]:
print(df.iloc[3:5,1:3])

             B   C
2021-02-18  13  14
2021-02-19  17  18

In [38]:
print(df.iloc[[1,3,5],1:3])

             B   C
2021-02-16   5   6
2021-02-18  13  14
2021-02-20  21  22

mixed selection:ix

In [39]:
print(df.ix[:3,['A','C']])

AttributeError: 'DataFrame' object has no attribute 'ix'

Boolean indexing

In [40]:
print(df[df.A>8])

             A   B   C   D
2021-02-18  12  13  14  15
2021-02-19  16  17  18  19
2021-02-20  20  21  22  23

判断满足条件的行

In [41]:
print(df.A>8)

2021-02-15    False
2021-02-16    False
2021-02-17    False
2021-02-18     True
2021-02-19     True
2021-02-20     True
Freq: D, Name: A, dtype: bool

判断满足条件的列

In [42]:
print(df.index>'2021-02-15')

[False  True  True  True  True  True]

# 3.3 pandas设置值

In [56]:
import pandas as pd
import numpy as np

In [62]:
dates=pd.date_range('20210215',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
print(df)

             A   B   C   D
2021-02-15   0   1   2   3
2021-02-16   4   5   6   7
2021-02-17   8   9  10  11
2021-02-18  12  13  14  15
2021-02-19  16  17  18  19
2021-02-20  20  21  22  23

In [58]:
df.iloc[2,2]=1111
#替换确定位置元素

print(df)

             A   B     C   D
2021-02-15   0   1     2   3
2021-02-16   4   5     6   7
2021-02-17   8   9  1111  11
2021-02-18  12  13    14  15
2021-02-19  16  17    18  19
2021-02-20  20  21    22  23

In [59]:
df.loc['20210215','B']=2222

print(df)

             A     B     C   D
2021-02-15   0  2222     2   3
2021-02-16   4     5     6   7
2021-02-17   8     9  1111  11
2021-02-18  12    13    14  15
2021-02-19  16    17    18  19
2021-02-20  20    21    22  23

有条件替换

In [60]:
df[df.A>0]=0
print(df)

            A     B  C  D
2021-02-15  0  2222  2  3
2021-02-16  0     0  0  0
2021-02-17  0     0  0  0
2021-02-18  0     0  0  0
2021-02-19  0     0  0  0
2021-02-20  0     0  0  0

对当前列进行替换

In [64]:
dates=pd.date_range('20210215',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
print(df)

df.A[df.A>4]=0
print(df)

             A   B   C   D
2021-02-15   0   1   2   3
2021-02-16   4   5   6   7
2021-02-17   8   9  10  11
2021-02-18  12  13  14  15
2021-02-19  16  17  18  19
2021-02-20  20  21  22  23
            A   B   C   D
2021-02-15  0   1   2   3
2021-02-16  4   5   6   7
2021-02-17  0   9  10  11
2021-02-18  0  13  14  15
2021-02-19  0  17  18  19
2021-02-20  0  21  22  23

对其他列进行替换

In [65]:
dates=pd.date_range('20210215',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])

df.B[df.A>4]=0
print(df.B)

2021-02-15    1
2021-02-16    5
2021-02-17    0
2021-02-18    0
2021-02-19    0
2021-02-20    0
Freq: D, Name: B, dtype: int32

In [66]:
df['F']=np.nan

In [67]:
print(df)

             A  B   C   D   F
2021-02-15   0  1   2   3 NaN
2021-02-16   4  5   6   7 NaN
2021-02-17   8  0  10  11 NaN
2021-02-18  12  0  14  15 NaN
2021-02-19  16  0  18  19 NaN
2021-02-20  20  0  22  23 NaN

In [68]:
df['E']=pd.Series([1,2,3,4,5,6],index=pd.date_range('20210215',periods=6))
print(df)

             A  B   C   D   F  E
2021-02-15   0  1   2   3 NaN  1
2021-02-16   4  5   6   7 NaN  2
2021-02-17   8  0  10  11 NaN  3
2021-02-18  12  0  14  15 NaN  4
2021-02-19  16  0  18  19 NaN  5
2021-02-20  20  0  22  23 NaN  6

# 3.4 pandas处理丢失数据

In [69]:
dates=pd.date_range('20210215',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])

df.iloc[0,1]=np.nan
df.iloc[1,2]=np.nan
#iloc:给定位置替换
print(df)

             A     B     C   D
2021-02-15   0   NaN   2.0   3
2021-02-16   4   5.0   NaN   7
2021-02-17   8   9.0  10.0  11
2021-02-18  12  13.0  14.0  15
2021-02-19  16  17.0  18.0  19
2021-02-20  20  21.0  22.0  23

In [70]:
print(df.dropna(axis=0,how='any')) #how={'any','all'}

             A     B     C   D
2021-02-17   8   9.0  10.0  11
2021-02-18  12  13.0  14.0  15
2021-02-19  16  17.0  18.0  19
2021-02-20  20  21.0  22.0  23

In [71]:
print(df.fillna())

ValueError: Must specify a fill 'value' or 'method'.

In [72]:
print(df.fil(value=0))

AttributeError: 'DataFrame' object has no attribute 'fil'

In [73]:
print(df.isnull())

                A      B      C      D
2021-02-15  False   True  False  False
2021-02-16  False  False   True  False
2021-02-17  False  False  False  False
2021-02-18  False  False  False  False
2021-02-19  False  False  False  False
2021-02-20  False  False  False  False

In [74]:
print(np.any(df,isnull())=True)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-74-64278c546036>, line 1)

# 3.5 pandas 导入导出

In [75]:
import pandas as pd

In [77]:
data=pd.read_csv('Donnees_The_Cafe.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 1: invalid continuation byte

# 3.6 pandas 合并 concat

In [78]:
import pandas as pd
import numpy as np

concatenating

In [79]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
print(df1)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [80]:
df2=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
print(df2)

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0

In [81]:
df3=pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])
print(df3)

     a    b    c    d
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0

In [87]:
res1=pd.concat([df1,df2,df3],axis=0)
print(res1)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0

In [88]:
res2=pd.concat([df1,df2,df3],axis=1)
print(res2)

     a    b    c    d    a    b    c    d    a    b    c    d
0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
1  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0

In [91]:
res3=pd.concat([df1,df2,df3],axis=0,ignore_index=True) #axis=0 行数发生变动
print(res3)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [92]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'],index=[1,2,3])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'],index=[2,3,4])
res4=pd.concat([df1,df2],join='outer') #join='outer' 求并集
print(df1)
print(df2)
print(res4)

     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
     a    b    c    d
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0

In [93]:
res5=pd.concat([df1,df2],join='inner',ignore_index=True) #join='inner' 求交集
print(res5)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0

In [94]:
res6=pd.concat([df1,df2],axis=1,join_axes=[df1.index]) 
print(res6)

TypeError: concat() got an unexpected keyword argument 'join_axes'

append : 向序列追加内容

In [97]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])

res7=df1.append(df2,ignore_index=True)
print(res7)

s1=pd.Series([1,2,3,4],index=['a','b','c','d'])
res8=df1.append(s1,ignore_index=True)
print(res8)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  2.0  3.0  4.0

In [98]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
res9=df1.append([df2,df3],ignore_index=True)
print(res9)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  1.0  1.0  1.0  1.0
7  1.0  1.0  1.0  1.0
8  1.0  1.0  1.0  1.0

# 3.7 pandas 合并 merge

# 3.8 pandas plot 画图